/* ------ PAGE DE PRESENTATION ------ */

#beginning{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    color: #000000;
    display: block;
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#beginning-button{
    border: 2px solid #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.beginning-block{
    margin: 20px 0 20px 0;
}
.welcome-title{
    text-align: left;
    font-family: 'Syncopate', sans-serif;
    color: #000000;
    letter-spacing: 0.5rem;
    font-size: 2em;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.welcome-text-top{
    color: #000000;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

.welcome-text{
    margin-top: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.beginning-img{
    width: 300px;
    height: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}

/* ------ REGLES ------ */

#rules-page{
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #000321;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#fight{
    padding-top: 20px;
}

#damage-weapon-present{
    padding-top: 20px;
}

#title-rules{
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

#back-game{
    padding-top: 50px;
}

#back-button{
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.part-rules{
    color: #00e4ff;
    font-size: 1.2em;
}

.weapon-present{
    display: inline-flex;
}

.weapon-rules{
    display: grid;
    margin-left: 40px;
    padding: 10px;
    border: 2px solid #324552;
    color: #00e4ff;
}
/* ------ MESSAGE DEBUT COMBAT ------ */

#beginning-fight{
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 280px;
    width: 100%;
    height: 18%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #ffffff;
    font-family: 'Syncopate', sans-serif;
    font-size: 1em;
    padding-top: 45px;
}


/* ------ JEU ------ */

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Syncopate', sans-serif;
    color: #000321;
    letter-spacing: 1rem;
    font-size: 2.5em;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    color: #000;
    font-size: 1em;
}

h3{
    color: #ffffff;
}


h4{
    font-size: 1em;
    color: #00e4ff;
    margin-top: 0;
    padding: 5px;
}

body{
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

progress{
    margin-top: 20px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 3px 2px 3px;
    background: #00e4ff;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2);
}

progress[value]::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(left, #00e4ff, #b8f7ff);
    border-radius: 2px;
}

input{
    margin-top: 20px;
}

#rules-button{
    border: 2px solid #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

#game{
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#host-panel{
    border: 2px solid #000000;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    background-color: #000321;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 15em;
    height: 500px;
}

#guest-panel{
    border: 2px solid #000000;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    background-color: #000321;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 15em;
    height: 500px;
}

#map {
    margin-left: 5em;
    width: 800px;
    height: 600px;
}

#button{
    display: none;
}

#host-fight-button, #host-defend-button, #guest-fight-button, #guest-defend-button{
    border: 2px solid #324552;
    background-color: rgba(0,0,0,0.0);
    color: #ffffff;
    margin-right: 1em;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
}

#guest-circele{
    margin: 10px;
    width: 10em;
    height: auto;
}

#host-circele{
    margin: 10px;
    width: 10em;
    height: auto;
}

.name-player{
    border: 2px solid #324552;
}

.back-info-weapon{
    border: 2px solid #324552;
    border-radius: 0 20px 0 0;
    margin-top: 10px;
}

.back-info{
    border: 2px solid #324552;
    border-radius: 0 20px 0 0;
}

.gender{
    background-color: #828282;
    color: #00e4ff;
    text-align: center;
}
.progress-container{
    padding-top: 20px;
    text-align: center;
}

.fight-button{
    margin-top: 20px;
    display: inline-flex;
    text-align: center;
}

.img-panel{
    display: flex;
    text-align: center;
    justify-content: center;
}

.planer-img{
    padding-top: 35px;
    position: absolute;
    margin: 10px;
    width: 6em;
    height: auto;
}

.informations{
    text-align: left;
}

.empty {
    display: table-cell;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.cell-grey {
    display: table-cell;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.8);
}

.weapon {
    display: table-cell;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.player {
    display: table-cell;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.image-responsive{
    width: 100%;
    height: auto;
}

.cell-authorized {
    display: table-cell;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: #003cff;
    opacity: 0.80;
}

/* ------ MESSAGE DEBUT JEU ------ */

#beginning-game{
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 280px;
    width: 100%;
    height: 18%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #ffffff;
    font-family: 'Syncopate', sans-serif;
    font-size: 1em;
    padding-top: 45px;
}

/* ------ MESSAGE FIN DU JEU ------ */

#end-message{
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 280px;
    width: 100%;
    height: 18%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #ffffff;
    font-family: 'Syncopate', sans-serif;
    font-size: 1em;
    padding-top: 45px;
}

#restart{
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.restart-button{
    margin-top: 20px;
}

